#image-body {
  line-height: 0;
  column-gap: 0px;
  column-count: 3;
  img {
    width: 100% !important;
    height: auto !important ;
  }
}
@media (max-width: 62em) {
  #image-body {
    column-count: 3;
  }
}
@media (max-width: 48em) {
  #image-body {
    column-count: 2;
  }
}
@media (max-width: 30em) {
  #image-body {
    column-count: 1;
  }
}
